/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
 
    background-color: #f7d44c; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .card {
    background-color: white;
    border-radius: 10px;
   box-shadow: 1rem 7px 7px black;
    width: 375px;
    height: 440px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border:2px solid black;
    }
  .card img{
    border-radius: 15px;
    height: 200px;
  }
  .card-header {
   
    background-color: #eedc19;
    color: black;
    font: bold;
    font-weight: 700;
    padding: 6px;
    font-size: 1rem;
    border-radius:10px ;
    width: 90px;
   
  }
  
  .card-content p{
    text-align: left;   
    padding: 10px;   
  }
  
  .date {
    
    text-align: left;
    color: gray;
    font-size: 0.9em;
  }
  
  .title {
    text-align: left;
    font-size: 1.5em;
    color: #121211;
    margin: 10px;
  }
  h1 {
    text-align: left;
    display: block;
    font-size: 2em;
    unicode-bidi: isolate;
}
  .description {
   text-align: left;
    font-size: 1em;
    color: #9b9b9b;
 
  }
  
  .author {
     font-size: 1.1em;
    color: #000;
    font-weight: 700;
    text-align: left;
  }
  .author .img{
      width:45px;
      height: 55px;
      overflow-clip-margin: content-box;
      overflow: clip;
  }
  .attribution {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
  
